* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", serif;
}

body {
    background-color: rgb(234 240 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
    background-color: #aaaaaa;
    border-radius: 10px;
    padding: 10px;
}

.input-box {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    background-color: white;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.cal-input {
    height: 30px;
    border: none;
    color: black;
    outline: none;
    padding: 2px;
    font-size: 23px;
}

.btn {
    width: 80px;
    height: 50px;
    color: black;
    background: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 4px #414141;
}

.btn:hover {
    background-color: #e7e7e7;
}



.removeOperator {
    color: #fff;
    background-color: #1f5cd4;

    &:hover {
        background-color: #144cbc;

    }
}

.assignOperator {

    color: #fff;
    background-color: #ff6f00;

    &:hover {
        background-color: #df6100;
    }
}

@media only screen and (max-width: 375px) {
    .btn {
        width: 60px;
    }
}